title= title
    link(href="bower_components/bootstrap/dist/css/bootstrap.min.css", rel='stylesheet')
    link(href="bower_components/font-awesome/css/font-awesome.min.css", rel='stylesheet')
    link(href="css/style.css", rel='stylesheet')

  body
    .container
        -var properties = ["userName", "timeStamp", "message"]
        .row
          h1 BOARDER
        .row
            input.userInfo(placeholder= "User Name")
            input#message(placeholder= "wha'd'ya got?")
            p.userInfo
          button.btn#post HOLLA
        .row
          .col-sm-10.col-md-10.col-lg-10#board
                each prop in properties
                  th= prop
                th: th
            tbody#list
              each item in items
                tr
                  each val, prop in item
                    td(class= prop, id= prop)= val

    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='js/main.js')
  
